<div class="container main" ng-init="vm.getCurrentPosition(); vm.init()">

	<div class="row">
		<div class="col-sm-12 map-container">
			<div id="map" ng-init="vm.initMap()"></div>
		</div>
	</div>

	<ul class="route-list" id="routesContainer">
		<li ng-repeat="route in vm.routes" class="route-button-container">
			<button class="col-sm-12 btn route-button"
				ng-style="vm.setColor(route)"
				ng-class="{routeButtonFirst: $first, stuck: $first, routeButtonSecond: $index === 1, notFirst: !$first}"
				ng-click="route.active = !route.active; vm.tripsLoading = true; vm.selectRoute(route)"
				ng-swipe-down="vm.transitionToMap()">{{route.name}} {{route.color}} - {{route.operated_by_name}}</button>
			<div class="route-stops-list" ng-if="route.active === true">
				<div class="loading-img" ng-show="vm.tripsLoading">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #{{route.color}}"></i>
					<span class="sr-only">Loading...</span>
				</div>
				<ul>
					<li ng-show="!vm.tripsLoading" 
						ng-repeat="stop in vm.selectedRoute.collectedStops | limitTo: 10" 
						class="stop-item" 
						style="border-left: 10px solid #{{route.color}};">{{stop.stop_name}} {{stop.stopTimes[0].departure_time}}</li>
				</ul>
			</div>
		</li>
	</ul>

	<div class="update-alert" ng-if="vm.showToast">
		<span>An update is ready</span>
		<span>
			<button type="button" class="btn btn-default" ng-click="vm.skipWaiting()">refresh</button>
		</span>
		<span>
			<button type="button" class="btn btn-default" ng-click="vm.showToast = false">dismiss</button>
		</span>
	</div>

</div>